---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Page Not Found ">
  <div class="h-screen w-full flex flex-col items-center justify-center">
    <div class="">
      <h2 class="font-Quicksand_B text-xl">
        404 error | <span class="font-Lora_Reg">Page not found.</span>
      </h2>
      <h3 class="font-Lora_Reg mt-3">
        Go back to <a href="/" class="underline">home</a> page
      </h3>
    </div>
  </div>
</Layout>
