---
import { Image } from "astro:assets";
import plant from "../images/pexels-huy-phan.jpg";
---

<div class="relative flex items-center justify-center h-full">
  <!-- <div class="flex w-full h-1/2">
    <Image class="" src={plant} alt="An image of a house plant" />
  </div> -->
  <div class="text-white font-PPNeueMontreal w-full h-fit">
    <h1 class="text-4xl m-0 h-full p-2 text-left">
      Welcome to Green Life: Cultivating Beauty, One Leaf at a Time
    </h1>
  </div>
</div>
