---
import { Image } from "astro:assets";
import plant from "../assets/images/unsplash_YAPZt8wxMO4.png";
import arrow from "../assets/icons/arrowBlack.png";
---

<div class="relative w-screen">
  <!-- hero text -->
  <div
    class="text-black absolute h-96 max-h-screen w-1/2 pl-4 pr-2 z-10 md:flex md:flex-col md:pl-12 lg:h-[34rem] lg:justify-evenly"
  >
    <!-- Best house -->
    <div class="mt-16
    mb-10 lg:space-y-4">
      <h1
        class="block w-full font-Belleza xs:text-base sm:text-2xl md:text-4xl lg:text-6xl/10 font-bold m-0 p-0"
      >
        Best house
      </h1>
      <h1
        class="block w-full font-Belleza xs:text-base sm:text-2xl md:text-4xl lg:text-6xl/10 font-bold m-0 p-0"
      >
        plants varieties.
      </h1>
    </div>
    <!--  -->
    <h2 class="xs:text-xs sm:text-sm text-bold md:w-1/2 lg:text-xl">
      Beautiful living greenery homes and offices
    </h2>
    <p class="font-Quicksand_L text-black text-xs py-4 lg:py-0 lg:text-sm">
      We've been mentioned in the press
    </p>
    <!-- shop button -->
    <div class="xs:w-2/3 sm:w-1/2 md:w-1/3 lg:w-1/3 lg:mb-16">
      <button
        class="rounded-xl text-xs bg-black w-full h-fit text-white px-4 py-2 lg:w-[158px] lg:text-sm lg:rounded-2xl"
        >Shop now</button
      >
    </div>
    <!--  -->
    <div
      class="absolute right-0 bottom-0 flex items-center justify-between pt-4 pl-4 z-10 sm:gap-2 w-full md:w-2/3 md:left-10 lg:bottom-4"
    >
      <h2
        class="font-Quicksand_B text-gray-light text-xs sm:text-base w-1/2 lg:text-xl"
      >
        Bloomberg
      </h2>
      <h2
        class="font-Lora_B text-gray-light text-xs sm:text-base xs:mr-0 mr-6 w-1/2 lg:text-xl"
      >
        Forbes
      </h2>
    </div>
  </div>

  <!-- image -->
  <div class="w-auto h-96 max-h-screen relative lg:h-[34rem] lg:w-full">
    <Image
      class="w-full h-full lg:object-fit absolute left-0"
      src={plant}
      alt="An image of a house plant"
    />
  </div>

  <div class="md:flex">
    <div
      class="w-full p-8 flex items-center justify-center md:w-2/5 md:pl-10 lg:p-0"
    >
      <p
        class="font-Quicksand_L text-center text-sm md:text-left md:justify-start md:text-xs lg:text-sm lg:w-4/5 lg:pt-2"
      >
        Each houseplant set is handled quickly and safely before being sent to
        your destination in specially designed insulated packaging.
      </p>
    </div>

    <div
      class="w-full p-2 flex flex-col items-center justify-center md:w-3/5 md:justify-start lg:items-start"
    >
      <p
        class="text-center font-Belleza text-xl md:w-4/5 font-extrabold md:text-left lg:w-4/5 lg:text-3xl lg:p-4 lg:pt-10 lg:mt-10"
      >
        Learn how we take care of your plant at every stage of its journey from
        our greenhouse to your home.
      </p>
      <div class="flex gap-4 items-center p-4">
        <p class="font-Quicksand_B text-xs md:text-sm">LEARN MORE</p>
        <a href="#"
          ><img class="h-4 w-4 md:h-6 md:w-6" src={arrow.src} alt="" /></a
        >
      </div>
    </div>
  </div>
</div>
