---
import { Image } from "astro:assets";
import plant from "../assets/images/unsplash_YAPZt8wxMO4.png";
import arrow from "../assets/icons/arrowBlack.png";
---

<section class="relativeh-full flex flex-col justify-between w-full">
  <div>
    <!-- hero text -->
    <div
      class="text-black absolute h-[376px] w-fit pl-4 pr-2 z-10 md:flex md:flex-col md:pl-12 lg:h-[34rem] lg:justify-evenly"
    >
      <!-- Best house -->
      <div class="mt-16
    mb-10 lg:space-y-4">
        <h1
          class="block w-full font-Belleza xs:text-xl sm:text-2xl md:text-4xl lg:text-6xl/10 font-bold m-0 p-0"
        >
          Best house
        </h1>
        <h1
          class="block w-full font-Belleza xs:text-xl sm:text-2xl md:text-4xl lg:text-6xl/10 font-bold m-0 p-0"
        >
          plants varieties.
        </h1>
      </div>
      <!-- Introduction -->
      <h2 class="xs:text-xs sm:text-sm text-bold w-2/3 lg:text-xl">
        Beautiful living greenery homes and offices
      </h2>
      <p
        class="font-Quicksand_L text-black text-xs py-2 lg:py-0 lg:text-base w-2/3 sm:w-full md:hidden"
      >
        We've been mentioned in the press
      </p>
      <!-- shop button -->
      <div class="w-1/2 lg:mb-16 mt-6 md:mt-1 md:mb-10">
        <a
          class="xs:text-xs sm:text-sm bg-black w-[180px] text-white py-2 px-4 md:my-4 lg:px-8 rounded-3xl font-Quicksand_L"
          href="/shop"
        >
          Shop now
        </a>
      </div>

      <!--  -->
      <div
        class="absolute left-0 bottom-4 md:bottom-0 flex items-center justify-between pt-4 pl-4 z-10 sm:gap-2 w-1/2 md:w-2/3 md:left-10 md:pt-8 md:flex-wrap"
      >
        <p
          class="font-Quicksand_L text-black text-xs py-2 lg:py-0 lg:text-base w-2/3 sm:w-full hidden md:block"
        >
          We've been mentioned in the press
        </p>
        <h2
          class="font-Quicksand_B text-gray-light text-xs sm:text-base w-fit lg:text-xl"
        >
          Bloomberg
        </h2>
        <h2
          class="font-Lora_B w-fit text-gray-light text-xs sm:text-base xs:mr-0 mr-6 lg:text-xl"
        >
          Forbes
        </h2>
      </div>
    </div>

    <!-- image -->
    <div class="w-full h-96 max-h-screen relative lg:h-[34rem]">
      <Image
        class="w-full h-full absolute left-0"
        src={plant}
        alt="An image of a house plant"
      />
    </div>
  </div>

  <!-- each houseplant -->
  <div class="self-end md:flex">
    <div
      class="w-full p-8 flex items-center justify-center md:w-2/5 md:pl-10 lg:p-0 mt-8 md:mt-2"
    >
      <p
        class="font-Quicksand_L text-center text-sm md:text-left md:justify-start md:text-xs lg:text-sm lg:w-4/5 lg:pt-2"
      >
        Each houseplant set is handled quickly and safely before being sent to
        your destination in specially designed insulated packaging.
      </p>
    </div>

    <div
      class="mt-10 lg:mt-8 w-full p-2 flex flex-col items-center justify-center md:w-3/5 md:items-start lg:items-start"
    >
      <p
        class="text-center font-Belleza text-xl md:w-4/5 font-extrabold md:text-left lg:w-4/5 lg:text-2xl lg:py-4 lg:pt-10"
      >
        Learn how we take care of your plant at every stage of its journey from
        our greenhouse to your home.
      </p>
      <div class="flex gap-4 items-center justify-center py-4">
        <p
          class="font-Quicksand_B text-xs sm:text-sm md:text-base md:text-left"
        >
          LEARN MORE
        </p>
        <Image class="w-[30px] h-[30px]" src={arrow} alt="arrow" />
      </div>
    </div>
  </div>
</section>
