---
import { Image } from "astro:assets";

import arrow from "../assets/icons/arrowBlack.png";
---

<div class="md:flex">
  <div
    class="w-full p-8 flex items-center justify-center md:w-2/5 md:pl-10 lg:p-0"
  >
    <p
      class="font-Quicksand_L text-center text-sm md:text-left md:justify-start md:text-xs lg:text-sm lg:w-4/5 lg:pt-2"
    >
      Each houseplant set is handled quickly and safely before being sent to
      your destination in specially designed insulated packaging.
    </p>
  </div>

  <div
    class="w-full p-2 flex flex-col items-center justify-center md:w-3/5 md:justify-start lg:items-start"
  >
    <p
      class="text-center font-Belleza text-xl md:w-4/5 font-extrabold md:text-left lg:w-4/5 lg:text-2xl lg:p-4 lg:pt-10 lg:mt-10"
    >
      Learn how we take care of your plant at every stage of its journey from
      our greenhouse to your home.
    </p>
    <div class="flex gap-4 items-center p-4">
      <p class="font-Quicksand_B text-xs sm:text-sm md:text-base">LEARN MORE</p>
      <Image class="w-[30px] h-[30px]" src={arrow} alt="arrow" />
    </div>
  </div>
</div>
