---
import { Image } from "astro:assets";
import plant1 from "../assets/images/image2.png";
import plant2 from "../assets/images/image3.png";

import plant from "../assets/images/plant4.png";
---

<div
  class="flex grid-cols-2 w-full gap-x-4 md:gap-x-6 px-6 mt-4 h-64 md:h-96 lg:h-[460px] items-center justify-center"
>
  <div class="w-1/2 h-full">
    <Image
      class="h-full w-full object-fill rounded-l-lg"
      src={plant1}
      alt="An image of a house plant"
    />
  </div>
  <div class="w-1/2 h-full">
    <Image
      class="h-full w-full object-fill rounded-r-lg"
      src={plant2}
      alt="An image of a house plant"
    />
  </div>
</div>
<div
  class="w-full flex items-center justify-center px-6 relative mt-8 h-64 md:h-96 lg:h-[460px]"
>
  <div class="z-10 absolute top-2 lg:top-8 left-12 w-1/2">
    <h3 class="text-sm lg:text-3xl font-bold font-Quicksand-L">
      Get Inspired From My Instagram
    </h3>
    <p class="text-base lg:text-2xl font-Quicksand-L">
      If you use the hashtag #ReineDev on Instagram I'll spotlight you
    </p>
  </div>
  <div class="h-full w-full">
    <Image
      class="w-full h-full rounded-lg object-fill"
      src={plant}
      alt="An image of a house plant"
    />
  </div>
</div>
