@font-face {
  font-family: "Belleza";
  src: url("/fonts/Belleza/Belleza-Regular.ttf") format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family: "Lora-Regular";
  src: url("/fonts/Lora/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Lora-Bold";
  src: url("/fonts/Lora/Lora-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Quicksand-Bold";
  src: url("/fonts/Quicksand/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Quicksand-Light";
  src: url("/fonts/Quicksand/Quicksand-Light.ttf") format("truetype");
  font-weight: normal;
}

.custom-container {
  width: 90%;
  border: 1px solid #ccc; /* Border style */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  background: linear-gradient(
    180deg,
    #f8f8f8,
    #ffffff
  ); /* Gradient background */
  padding: 20px;

  border-radius: 8px; /* Rounded corners */
}
